@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 150 8% 5%;

        --card: 0 0% 98%;
        --card-foreground: 150 8% 5%;

        --popover: 0 0% 98%;
        --popover-foreground: 150 8% 5%;

        --primary: 0, 0%, 99%;
        --primary-foreground: 0 0% 10%;

        --secondary: 0 0% 10%;
        --secondary-foreground: 0 0% 100%;

        --muted: 150 7% 94%;
        --muted-foreground: 159 6% 45%;

        --accent: 150 7% 94%;
        --accent-foreground: 150 8% 5%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 160 6% 90%;
        --input: 156 6% 83%;
        --ring: 159 24% 75%;

        --radius: 0.5rem;
    }

    .dark:root {
        --background: 180 4% 5%;
        --foreground: 0 0% 98%;

        --card: 120 3% 6%;
        --card-foreground: 0 0% 98%;

        --popover: 120 3% 6%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 99%;
        --primary-foreground: 0 0% 10%;

        --secondary: 0 0% 10%;
        --secondary-foreground: 0 0% 100%;

        --muted: 150 2% 18%;
        --muted-foreground: 168 2% 49%;

        --accent: 158 18% 12%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 180 2% 12%;
        --input: 150 2% 18%;
        --ring: 160 59% 40%;
    }
}

.text-start{
    color: #FFF;
    font-family: "SF Mono";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; /* 100% */
}

.display-text{
    color: #248C69;
    font-family: "SF Mono";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.225rem;
}

.header-text{
    color: #1A1A1A;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 600;
}

.secondary-text{
    color: #1A1A1A;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.text-mono{
    color: var(--Backgrounds-Mono-Slight-Black, #111);
    font-family: "SF_MONO";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60%; /* 0.525rem */
}

.modal-header{
    color: #212121;
    text-align: center;
    font-family: "SF Pro";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
    letter-spacing: -0.025rem;
}


.card-main-text{
    color: #1A1A1A;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-secondary-text{
    color: #1A1A1A;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-label-text{
    color: #212121;
    text-align: center;
    font-family: "SF Mono";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15625rem;
}

.card-item-text{
    color: #1A1A1A;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.muted-text::placeholder{
    color: #1A1A1A;
    text-align: justify;
    font-family: "SFPRO";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.125rem */
    letter-spacing: 0.0375rem;
}

.muted-text{
    color: #1A1A1A;
    text-align: justify;
    font-family: "SFPRO";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.125rem */
    letter-spacing: 0.0375rem;
}

.panel{
    border-radius: 0.75rem;
    border: 2px solid #535353;
    background: #FCFCFC;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.panel .home{
    max-width: 48.5%;
}

.searchbar{
    border-radius: 0.75rem;
    border: 2px solid #535353;
    background: #FCFCFC;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.border-standard{
    border-radius: 0.75rem;
    border: 2px solid #535353;
    background: #FCFCFC;
    color: #1A1A1A;
}